---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=<THEMOVIEDB_API_KEY>&sort_by=popularity.desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f7a89dec9d4f603186ad9e2a834a72ff
      X-Memc-Age:
      - '4424'
      X-Memc-Expires:
      - '21906'
      Etag:
      - W/"a939b7466941f2d10cc09dee6bc56ff6"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg","genre_ids":[28,35,878],"id":533535,"original_language":"en","original_title":"Deadpool
        \u0026 Wolverine","overview":"A listless Wade Wilson toils away in civilian
        life with his days as the morally flexible mercenary, Deadpool, behind him.
        But when his homeworld faces an existential threat, Wade must reluctantly
        suit-up again with an even more reluctant Wolverine.","popularity":3546.58,"poster_path":"/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg","release_date":"2024-07-24","title":"Deadpool
        \u0026 Wolverine","video":false,"vote_average":7.732,"vote_count":4173},{"adult":false,"backdrop_path":"/7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg","genre_ids":[27,35,18],"id":933260,"original_language":"en","original_title":"The
        Substance","overview":"A fading celebrity decides to use a black market drug,
        a cell-replicating substance that temporarily creates a younger, better version
        of herself.","popularity":1556.96,"poster_path":"/lqoMzCcZYEFK729d6qzt349fB4o.jpg","release_date":"2024-09-07","title":"The
        Substance","video":false,"vote_a[...]
