---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/140607/similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjOTZiMjkwMTc3OWJiMzQ3NTdjOTI1OTZjYjI0MjViYyIsIm5iZiI6MTcyODQyMTc1MC44MDE0MDgsInN1YiI6IjY3MDU0ODlhMWI5NmI4ZWY0YzY5ZGE5ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.lGlv1PkzpsP5SsH38fbmUprCl8_4HpPlA7OaIXe4Nl0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 123c1a2cd6c831b1268dc68dc640c9a0
      X-Memc-Age:
      - '21179'
      X-Memc-Expires:
      - '5236'
      Etag:
      - W/"1f897460ee06f4595aeb964e99acfefa"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/v63dgsTmcgcnh3c10c6Cxy2Y9Ta.jpg","genre_ids":[53,878],"id":586707,"original_language":"en","original_title":"Life
        Like","overview":"An idealistic attractive young couple acquires a stunning,
        life-like robot for guilt free help, but as the three grow closer, their perception
        of humanity will be altered forever.","popularity":13.504,"poster_path":"/uOVGbT6TR8qiZiruX66yBRXq9Nv.jpg","release_date":"2019-05-14","title":"Life
        Like","video":false,"vote_average":6.2,"vote_count":234},{"adult":false,"backdrop_path":null,"genre_ids":[878],"id":269423,"original_language":"en","original_title":"UFOTOG","overview":"A
        man sets out to photograph UFOs in a scientifically verifiable manner only
        to get more than he bargained for. Shot by acclaimed visual effects master
        Douglas Trumbull in a new process called MAGI, 4K 3D at 120 frames per second,
        to create a powerful sense of immersion previously unseen in cinema.","popularity":0.528,"poster_path":[...]
