---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/140607?append_to_response=reviews,credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjOTZiMjkwMTc3OWJiMzQ3NTdjOTI1OTZjYjI0MjViYyIsIm5iZiI6MTcyODQyMTc1MC44MDE0MDgsInN1YiI6IjY3MDU0ODlhMWI5NmI4ZWY0YzY5ZGE5ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.lGlv1PkzpsP5SsH38fbmUprCl8_4HpPlA7OaIXe4Nl0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"7129007fc3ff739af08f51168bdb8cb5"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg","belongs_to_collection":{"id":10,"name":"Star
        Wars Collection","poster_path":"/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg","backdrop_path":"/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg"},"budget":245000000,"genres":[{"id":12,"name":"Adventure"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://www.starwars.com/films/star-wars-episode-vii","id":140607,"imdb_id":"tt2488496","origin_country":["US"],"original_language":"en","original_title":"Star
        Wars: The Force Awakens","overview":"Thirty years after defeating the Galactic
        Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and
        his army of Stormtroopers.","popularity":62.76,"poster_path":"/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg","production_companies":[{"id":1,"logo_path":"/tlVSws0RvvtPBwViUyOFAO0vcQS.png","name":"Lucasfilm
        Ltd.","origin_country":"US"},{"id":11461,"logo_path":"/p9FoEt5shEKRWRKVIlvFaEmRnun.png","name":"Bad
        Robot","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2015-12-15","revenue":2068223624,"runtime":136,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Every
        generation has a story.","title":"Star Wars: The Force Awakens","video":false,"vote_average":7.274,"vote_count":19215,"reviews":{"page":1,"results":[{"author":"Frank
        Ochieng","author_details":{"name":"Frank Ochieng","username":"Frank Ochieng","avatar_path":null,"rating":null},"content":"So
        where were you when the Science Fiction cinema sensation ‘Star Wars’ took
        shape and captured the imagination of the massive global moviegoers’ escapist
        expectations back in 1977? Regardless of whether you existed thirty-eight
        years ago or not, the legend of George Lucas’ highly-heralded SF blockbuster
        that shattered box office records worldwide was automatically engrained in
        your cinematic psyche. Now nearly four decades later, the motion pictu[...]
